h1 {
  font-family:'Indie Flower', cursive; 
  font-size: 3rem;
}
p {
  background:rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.24); 
  font-family:'Indie Flower', cursive;
}
.App {
  padding-top: 2rem;
  text-align: center;
  background: url('./assets/krystal.jpg')
  center center/cover no-repeat;
  height: 100vh;
}


.explination-text {
 
  border: 1px solid black;
  width: 50%;
  padding: 1%;
  margin: 1% auto;
  font-size: 1.5rem;
 
}
.denote-text {
  width: 30%;
  margin: 0 auto;
}

#outputs {
  width: 20%;
  margin: 2% auto;
  padding: 2.5%;
  border-radius: 40%;
  background:rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.301);
}


